.st-key-dashboard_button button {
    /* background-color: green; */
    border-color: green;
    border-style: double;
}

.st-key-blue button {
    /* background-color: green; */
    border-color: green;
    border-style: double;
}